.consult {
    background: $color-0;
    color: #fff;
    margin-bottom: 0;
    padding: 10vh 0;

    .container {

    }

    .section-heading {
        margin-bottom: 3em;
    }

    .decor {
        max-width: 160px;
        margin: 0 auto 1em;
    }
}
