//Colors
$color-0: #03263A;
$color-1: #0A76B4;
$color-2: #BEBB75;
$color-3: #9CC0E0;
$color-4: #0D5480;

$color-grey-1: #ECF7FE;
$color-grey-2: #f8f8f8;
$color-grey-3: #424242;

//Fonts
$font-0: "Montserrat", sans-serif;
$font-1: "Montserrat", sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba(50,50,93,.1);
$box-shadow-2: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$box-shadow-3: 0 7px 14px rgba(50,50,93,.11), 0 3px 6px rgba(0,0,0,.08);

//Transitions
$transition-1: 180ms ease;

//Sizing
$container-width: 1200px; //Sizing of the section .container as well as .column containers
